@charset "utf-8";
@import "../../lib/fragment/yo-header";

/**
 * yo-header通用或全局扩展
 */
 @include yo-header(
     $name:a,
     $bgcolor: darkslateblue,
    $item-ico-color: rgba(255, 255, 255, 0.8)
 )
